
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel.carousel-item { 
    width: max-content;
    height: 1200px;
    }
.hiking-info-div{
  text-align: center;
}