
  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
  
  body {
    font-family: 'Playfair Display', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-color: cadetblue;
}

  main {
    flex: 1 0 auto;
    font-family: 'Playfair Display', serif;
  }

#input-field {
  width: 70%;
}





/* help! want to make the parallax images opaque but having troubles */
/* #p1 {
  opacity: .50;
color: white;
background-color: rgba(0, 0, 0, 0.7);
} */